<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: link-css"></th:block>
    <title>Phân quyền</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container mt-4">
    <h1>Thêm quyền hệ thống mới</h1>
    <form th:action="@{/roles/add/{userId}(userId=${account.id})}" method="post">
        <div class="col-6 mb-3">
            <label class="form-label" for="role">Quyền hệ thống:</label>
            <select class="form-control" id="role" name="roleId">
                <option value="">-- Chọn quyền hệ thống --</option>
                <option th:each="role : ${allRoles}" th:value="${role.id}"
                        th:text="${role.name}"></option>
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Lưu">
    </form>
    <br>
    <a th:href="@{/books}">Quay lại</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
